AERODATABOX_RAPIDAPI_KEY=
OPENROUTESERVICE_API_KEY=
OPENSKY_CLIENT_ID=
OPENSKY_CLIENT_SECRET=
FLIGHTPLANDB_API_KEY=
TDX_CLIENT_ID=
TDX_CLIENT_SECRET=
TDX_REQUESTS_PER_MINUTE=5
TRANSITOUS_CONTACT_URL=https://github.com/YOUR_ACCOUNT/YOUR_REPOSITORY
TRANSITOUS_MIN_INTERVAL_MS=5000
